<div class="row">
  <div class="col-lg-12">
    <p class="lead">Add new server or blueprint</p>
    <label for="">Server Name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName" >
    <label for="">Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent" >
    <br>
    <button 
    class="btn btn-success"
    (click)="onAddServer()" >Add Server</button>
    <button 
    class="btn btn-success"
    (click)="onAddBlueprint()">Add Bluprint</button>
  </div>
</div>