<!-- <div class="container">
    <h1>app component</h1>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-servers></app-servers>
            
        </div>
    </div>
</div> -->

<!-- Template driven form -->
<!-- <section>
    <h1>Template driven Form example</h1>
    <form #f="ngForm" (ngSubmit)="onSubmitTemplateBased" >
        <p>
            <label for="">First Name:</label>
            <input type="text"
            name="firstName"
                [(ngModel)]="user.firstName" required>
        </p>
        <p>
            <label for="">Password:</label>
            <input type="password" 
            name="password"
            [(ngModel)]="user.password" required >
        </p>
        <p>
            <button type="submit" class="btn btn-primary"
            [disabled]="!f.valid" >Submit</button>
        </p>
    </form>
</section> -->

<!-- Only Initializing components -->
<form #f="ngForm">
        <p>
                <label>First Name:</label>
                <input type="text" [ngModel]="user.firstName" required>
            </p>
            <p>
                <label>Password:</label>
                <input type="password" [ngModel]="user.password" required>
            </p>
            <p>
                <button type="submit" [disabled]="!f.valid">Submit</button>
            </p>
</form>

<!-- Without [ngModel] validation -->
<!-- <form action="" #f="ngForm">
    <p>
        <label for="">First Name:</label>
        <input type="text" name="firstName" required ngModel>
    </p>
    <p>
        <label for="">Password:</label>
        <input type="password" name="password" required ngModel>
    </p>
    <p>
        <button [disabled]="!f.valid">Submit</button>
    </p>
</form> -->